@import 'variables';
@import 'helper';
@import './lib/base';
@import './core/base';
@import './components/base';
@import './pages/base';
//



.arrow-down {
    position: absolute;
    bottom: $gap-double;
    width: 100%;
    text-align: center;
    will-change: auto;
    .icon {
        cursor: pointer;
        position: relative;
        display: inline-block;
        color: $white;
        font-size: $gap-double;
        //display: none;
        //@include breakpoint($breakpoint-lg,false) {
        animation: bounce 1s ease-out 0s infinite alternate;
        animation-timing-function: $easeOutQuad;
        @include forceHarwareAcceleration();
        //}
    }
}

@keyframes bounce {
    0% {
        bottom: -$gap;
    }
    100% {
        bottom: 0;
    }
}

.page-image {
    .section-container {
        height: 30vh;
        overflow: hidden;
        @include breakpoint($breakpoint-lg) {
            height: auto;
            overflow: visible;
        }
    }
    picture {
        @include centerVertical();
        @include breakpoint($breakpoint-lg) {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    &-text-overlay {
        @include centerElement();
        color: $secondary-font-color;
        text-align: center;
        > .page-title {
            text-shadow: $page-image-text-shadow;
        }
    }
}

.page-body {
    &-wrapper {
        max-width: $page-body-max-width;
        margin: 0 auto;
    }
    .page {
        &-summary {
            text-align: center;
            margin-bottom: $gap-double;
        }
        &-date {
            font-size: $small-font-size;
            margin-top: $gap-xl;
            line-height: 1;
        }
        &-image,
        &-video {
            margin-bottom: $gap-double;
        }
    }
}

.news-list {
    ul, ol {
        @include resetList();
    }
}

.sitecore {
    footer,
    header,
    .news-list {
        pointer-events: none !important;
        user-select: none !important;
    }
}