@import 'variables';
@import 'helper';
@import './lib/base';
@import './core/base';
@import './components/base';
//@import './pages/base';
//
.arrow-down {
    z-index: 3;
    bottom: $gap-double;
    //width: 100%;
    position: fixed;
    left: 50%;
    text-align: center;
    will-change: auto;
    @include translateX(-50%);
    .icon {
        color: $base-brand-color;
        //text-shadow: $base-text-shadow;
        cursor: pointer;
        position: relative;
        display: inline-block;
        //color: $light-font-color;
        font-size: $gap-double;
        //display: none;
        //@include breakpoint($breakpoint-lg,false) {
        animation: bounce 1s ease-out 0s infinite alternate;
        animation-timing-function: $easeOutQuad;
        @include forceHarwareAcceleration();
        //}
    }
    @include breakpoint($breakpoint-lg) {
        display: none;
    }
}

@keyframes bounce {
    0% {
        bottom: -$gap;
    }
    100% {
        bottom: 0;
    }
}

.grid-section {
    &:not(.aside-section) {
        background-color: $tertiary-background-color;
    }
    + .grid-section {
        > .section-container {
            padding-top: 0;
        }
        // &:last-child {
        //     > .section-container {
        //         padding-top: $page-section-padding;
        //     }
        // }
    }
}

.news-grid-section {
    background-color: $tertiary-background-color;
}

.aside-section {
    article {
        background-color: $base-background-color;
        padding: $gap;
    }
    article + article {
        margin-top: $gap-double;
    }
}

.page-image {
    .section-container {
        height: 30vh;
        overflow: hidden;
        @include breakpoint($breakpoint-lg) {
            height: auto;
            overflow: visible;
        }
    }
    picture {
        @include centerVertical();
        @include breakpoint($breakpoint-lg) {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    &-text-overlay {
        @include centerElement();
        color: $secondary-font-color;
        text-align: center;
        > .page-title {
            text-shadow: $page-image-text-shadow;
        }
    }
}

.image-map {
    background-color: $base-background-color;
}

.page-body {
    &-wrapper {
        max-width: $page-body-max-width;
        margin: 0 auto;
    }
    .page {
        &-summary {
            //text-align: center;
            //margin: $gap $gap ($gap-double + $gap);
            @include setFont($base-font-name);
            font-weight: $medium-font-weight;
            font-size: $large-font-size;
            margin-bottom: $gap;
        }
        &-text {
            //margin-bottom: $gap;
        }
        &-date {
            font-size: $small-font-size;
            margin-top: $gap-xl;
            line-height: 1;
            &.published {
                margin-right: $gap;
            }
            &.published,
            &.modified {
                display: inline-block;
            }
        }
        &-image,
        &-video {
            margin-top: $gap-double;
        }
    }
}

.latest-news-article {
    //background-color: $tertiary-background-color;
}

.calendar-list-section,
.news-list-section {
    background-color: $secondary-background-color;
}

.no-result {
    display: none;
    margin: 0;
    &.show {
        display: block;
    }
}

.sitecore {
    // footer,
    // header,
    // .breadcrumb-section, //.news-list,
    // .page-slider {
    //     pointer-events: none !important;
    //     user-select: none !important;
    // }
    .scEmptyImage {
        width: auto;
    }
}

noscript {
    @include fixedOverlay();
    > div {
        @include centerElement();
        text-align: center;
    }
}

.news-admin {
    &-create-section {
        #WebSites {
            label {
                display: inline-block;
                margin: 0;
            }
            input,
            label {
                vertical-align: middle;
            }
            display: block;
        }
        .form-elements {
            //margin-bottom: $gap;
            input[type="submit"] {
                margin-top: $gap-half;
                display: block;
            }
            textarea {
                height: 200px;
            }
        }
        .validation-error {
            color: $red;
        }
    }
    &-list-section {
        background-color: $secondary-background-color;
        h2 {
            max-width: $page-section-min-width;
            padding-left: $page-section-padding;
            padding-right: $page-section-padding;
            margin: 0 auto $gap-half;
        }
        h3 {
            @extend .large;
        }
        .list-wrapper {
            min-width: 840px;
        }
        .even {
            background-color: $secondary-background-color;
        }
        .active {
            color: $base-brand-color;
        }
        .not-active {
            color: $red;
        }
        .settings-link {
            @include hoverLink();
            .text {
                //display: none;
            }
            .icon {
                position: relative;
                top: 2px;
                vertical-align: top;
            }
        }
        .news-link {
            @include hoverLink($base-font-color);
            text-decoration: underline;
        }
        .icon {
            position: relative;
            vertical-align: middle;
            top: -1px;
        }
        .row {
            .column {
                padding: $gap-half;
                @include oneLine();
                > h3 {
                    margin: 0;
                    @include oneLine();
                }
                &:last-child {
                    text-align: right;
                }
            }
            &.list-header {
                padding-bottom: $gap-half;
            }
        }
        .date {
            text-transform: uppercase;
        }
    }
}

.admin {
    form {
        margin: 0;
        padding: 0;
    }
}
