@import 'variables';
@import 'helper';
@import './lib/base';
@import './core/base';
@import './components/base';
//@import './pages/base';
//
.arrow-down {
    z-index: 3;
    bottom: $gap-double;
    //width: 100%;
    position: fixed;
    left: 50%;
    text-align: center;
    will-change: auto;
    @include translateX(-50%);
    .icon {
        color: $base-brand-color;
        //text-shadow: $base-text-shadow;
        cursor: pointer;
        position: relative;
        display: inline-block;
        //color: $light-font-color;
        font-size: $gap-double;
        //display: none;
        //@include breakpoint($breakpoint-lg,false) {
        animation: bounce 1s ease-out 0s infinite alternate;
        animation-timing-function: $easeOutQuad;
        @include forceHarwareAcceleration();
        //}
    }
    @include breakpoint($breakpoint-lg) {
        display: none;
    }
}

@keyframes bounce {
    0% {
        bottom: -$gap;
    }
    100% {
        bottom: 0;
    }
}

.grid-section {
    background-color: $tertiary-background-color;
    + .grid-section {
        > .section-container {
            padding-top: 0;
        }
        // &:last-child {
        //     > .section-container {
        //         padding-top: $page-section-padding;
        //     }
        // }
    }
}

.page-image {
    .section-container {
        height: 30vh;
        overflow: hidden;
        @include breakpoint($breakpoint-lg) {
            height: auto;
            overflow: visible;
        }
    }
    picture {
        @include centerVertical();
        @include breakpoint($breakpoint-lg) {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    &-text-overlay {
        @include centerElement();
        color: $secondary-font-color;
        text-align: center;
        > .page-title {
            text-shadow: $page-image-text-shadow;
        }
    }
}

.page-body {
    &-wrapper {
        max-width: $page-body-max-width;
        margin: 0 auto;
    }
    .page {
        &-summary {
            text-align: center;
            margin-bottom: $gap-double;
        }
        &-date {
            font-size: $small-font-size;
            margin-top: $gap-xl;
            line-height: 1;
        }
        &-image,
        &-video {
            margin-bottom: $gap-double;
        }
    }
}

.news-list-section {
    background-color: $secondary-background-color;
    .load-more {
        margin-top: $gap-double;
    }
}

.sitecore {
    footer,
    header,
    .breadcrumb-section, //.news-list,
    .page-slider {
        pointer-events: none !important;
        user-select: none !important;
    }
}

noscript {
    @include fixedOverlay();
    > div {
        @include centerElement();
        text-align: center;
    }
}
