.primary-background-color,
.bg-primary {
    background-color: $base-background-color !important;
}

.secondary-background-color,
.bg-secondary {
    background-color: $secondary-background-color !important;
}

.tertiary-background-color,
.bg-tertiary {
    background-color: $tertiary-background-color !important;
}

.quaternary-background-color,
.bg-quaternary {
    background-color: $quaternary-background-color !important;
}

.primary-color {
    color: $base-brand-color !important;
}

.brand-color {
    color: $base-brand-color;
}
