ul,
ol {
    &.reset {
        @include resetList();
    }
}

dl {
    margin: 0;
}

dt {
    font-weight: 600;
    margin: 0;
}

dd {
    margin: 0;
}

ul,
ol {
    &.list,
    &.news-list {
        @include resetList();
    }
    &.list {
        li {
            // &:not(:last-child) {
            //     border-bottom: $base-border;
            //     padding-bottom: $gap-half;
            //     margin-bottom: $gap-half;
            // }
            //border-bottom: $base-border;
            //padding-bottom: $gap-md;
            //margin-bottom: $gap-md;
            padding-bottom: $gap;
            &:last-child {
                //border-bottom: 0;
                //padding-bottom: 0;
                //margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    &.news-list {
        li {
            .card {
                margin-bottom: $gap;
                margin-top: $gap;
                &-date,
                &-text {
                    //padding-bottom: $gap;
                    //@include border($tertiary-font-color, bottom);
                }

            }
            &:first-child {
                .card {
                    &-date,
                    &-text {
                        //padding-top: $gap;
                        //@include border($tertiary-font-color, top);
                    }
                }
            }
            &:last-child {
                .card {
                    //margin-bottom: 0;
                    &-date,
                    &-text {
                        //padding-bottom: 0;
                        //border: none;
                    }
                }
                hr {
                    //display: none;
                }
            }
        }
        hr {
            width: calc(#{$card-news-item-date-size + $card-news-item-text-size} - #{$card-news-item-text-padding});
        }
    }
}
