.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000 !important;
    background-color: transparent;
    //transition: background-color $base-transition-duration $base-transition-timing, transform 0.4s $easeOutQuad;
    transition: transform 0.4s $easeOutQuad;
    //transform: translateZ(0);
    backface-visibility: hidden;
    //will-change: auto;
    .logo {
        width: $header-logo-width;
        @include breakpoint($breakpoint-md) {
            width: $header-logo-width-md;
        }
        &.logo-small {
            width: $header-logo-small-width;
        }
    }
    &.scrolled:not(.menu-open) {
        //background-color: $header-scrolled-background-color;
        border-bottom: $header-scrolled-border-bottom;
        .section-container {
            //.subweb & {
            &:nth-child(1) {
                background-color: $header-scrolled-background-color;
                .no-touch & {
                    &:hover {
                        background-color: $header-background-color;
                    }
                }
                @at-root .page-header-inverted#{&} {
                    background-color: $header-inverted-scrolled-background-color;
                    .no-touch & {
                        &:hover {
                            background-color: $header-inverted-background-color;
                        }
                    }
                }
            }
            &:nth-child(2) {
                background-color: $header-subweb-scrolled-background-color;
            }
            //}
            @include clearfix();
        }
    }
    &.slide-up,
    .slide-up {
        @include translateY(-100%);
    }
    &.page-section {
        border-bottom: $header-bottom-border;
    }
    ul,
    ol {
        @include resetList();
    }
    .section-container {
        padding: $gap $page-section-padding;
        transition: background-color $base-transition-duration $base-transition-timing;
        &:nth-child(1) {
            background-color: $header-background-color;
            @at-root .page-header-inverted#{&} {
                background-color: $header-inverted-background-color;
            }
        }
        .subweb & {
            &:nth-child(1) {
                padding: $gap-half $page-section-padding;
            }
            &:nth-child(2) {
                padding: 0 $page-section-padding;
                background-color: $header-subweb-background-color;
            }
        }
        @include clearfix();
    }
    .logo-container {
        width: $header-logo-width;
        float: left;
        margin-right: $gap;
        position: relative;
        z-index: 1;
        > a {
            display: block;
        }
    }
    .search-container {
        display: inline-block;
        @include centerVertical();
        right: $page-section-padding;
        width: 20%;
        .search {
            float: right;
            .label {
                display: none;
            }
        }
    }
    #default-menu {
        z-index: 1;
        display: inline-block;
        .rootweb & {
            position: absolute;
            top: 10px;
            //@include centerVertical();
        }
        //left: $page-section-padding;
        .menu {
            @include horizontalList();
            //line-height: 0;
            .subweb & {
                > li {
                    //line-height: $base-line-height;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        .menu-item {
            .rootweb & {
                @include animateLine($color: $header-color, $distance: -51px, $thickness: 3px, $time: 0.3s, $scale: 1.2);
                @at-root .page-header-inverted#{&} {
                    @include animateLine($color: $header-inverted-color, $distance: -51px, $thickness: 3px, $time: 0.3s, $scale: 1.2);
                }
            }
            position: relative;
            > .text {
                color: $header-color;
                text-transform: $header-text-transform;
                display: block;
                text-decoration: none;
                user-select: none;
                @at-root .page-header-inverted#{&} {
                    color: $header-inverted-color;
                }
            }
            > span {
                cursor: default;
            }
            .no-touch & {
                > .text {
                    &:hover {
                        color: $header-hover-color;
                        @at-root .page-header-inverted#{&} {
                            color: $header-inverted-hover-color;
                        }
                    }
                }
            }
            .no-touch & {
                &.has-child {
                    &:hover {
                        > .submenu {
                            visibility: visible;
                            opacity: 1;
                            z-index: 99;
                            @include transition(all, 0.2s, linear);
                        }
                    }
                }
            }
            @include headings() {
                cursor: default;
            }
        }
        .submenu {
            width: 100vw;
            display: block;
            position: absolute;
            //@include transition(all, 0.2s, linear);
            //transition: all $base-transition-duration $base-transition-timing $base-transition-duration*2;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            &:before {
                height: $gap + $gap-half;
                .subweb & {
                    height: $gap;
                }
                display: block;
                content: '';
                background-color: transparent;
            }
            &-container {
                background-color: $header-background-color;
                .subweb & {
                    background-color: $header-subweb-background-color;
                }
            }
            &-content {
                //max-width: $page-section-max-width;
                margin: 0 auto;
                padding: $page-section-padding/2 0 $page-section-padding;
            }
            &-item {
                display: inline-block;
                margin-left: $page-section-padding;
                vertical-align: top;
            }
            a {
                color: $header-color;
                text-decoration: none;
                .no-touch & {
                    &:hover {
                        color: $header-submenu-hover-color;
                    }
                }
            }
        }
        @include breakpoint($breakpoint-lg) {
            display: none;
        }
    }
    .burger-container {
        cursor: pointer;
        display: none;
        //@include centerVertical();
        position: absolute;
        right: $page-section-padding;
        padding: $gap;
        padding-right: 0;
        top: 12px;
        .subweb & {
            top: 2px;
        }
        .burger {
            @include burger($color: $header-color);
            @at-root .page-header-inverted#{&} {
                @include burger($color: $header-inverted-color);
            }
        }
        @include breakpoint($breakpoint-lg) {
            display: block;
        }
        @include breakpoint($breakpoint-md) {
            top: 8px;
            .subweb & {
                padding-top: $gap-half;
                padding-bottom: $gap-half;
                top: 7px;
            }
        }
        &.open {
            .burger {
                @include burger-to-cross();
            }
        }
    }
}

#mobile-menu {
    .accordion {
        //padding: 0 $gap;
        border: none;
        @include border($base-font-color, top, 3px);
        .menu-item > * {
            border: none;
            background-color: rgba($white, 0);
        }
        > li {
            &:first-child {
                padding-top: $gap;
            }
            &:last-child {
                padding-bottom: $gap;
            }
        }
    }
    .submenu {
        background-color: $secondary-background-color !important;
        &.level-2 {
            > li {
                &:first-child {
                    padding-top: $gap;
                }
                &:last-child {
                    padding-bottom: $gap;
                }
            }
        }
    }
    a {
        pointer-events: auto;
        text-transform: uppercase;
        > span {
            touch-action: none;
            pointer-events: none;
        }
    }
    .content {
        background-color: $header-background-color;
        position: absolute;
        right: 0;
        width: $sidenav-width;
        cursor: pointer;
    }
    .blocker {
        position: absolute;
        right: 0; //$sidenav-width;
        width: 100%;
        height: 100%;
        background-color: rgba($white, 0);
        cursor: pointer;
    }
    .bottom {
        padding: 0 $page-section-padding $gap;
        a {
            color: $base-font-color;
            text-decoration: none;
            .no-touch & {
                @include transition(color);
                &:hover {
                    color: $header-submenu-hover-color;
                }
            }
        }
        .social {
            text-align: center;
            a {
                display: inline-block;
                padding: $gap-half;
                margin-left: -$gap-half;
                margin-top: -$gap-half;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
        .search {
            .label-with-icon {
                .icon-container {
                    text-align: left;
                }
            }
        }
        > div {
            margin-bottom: $gap;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.search {
    input {
        margin: 0;
    }
    .label-with-icon {
        width: 100%;
        .label {
            background-color: transparent;
            border: none;
            @include border($dir: bottom, $thickness: 2px);
            padding: $gap-xs $gap-half;
            text-transform: uppercase;
        }
        .icon-container {
            width: 10%;
            color: $base-font-color;
            text-decoration: none;
            .no-touch & {
                @include transition(color);
                &:hover {
                    color: $header-submenu-hover-color;
                }
            }
        }
    }
    input[type='submit'] {
        display: none;
    }
}
