.sc-login {
    #page-wrapper {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    .login-section {
        display: table-cell;
        vertical-align: middle;
        > .section-container {
            background-color: $login-background-color;
            padding: $page-section-padding;
            color: $base-font-color;
            max-width: $login-max-width;
        }
    }
    .logo-container {
        text-align: center;
        .logo {
            width: $login-logo-width;
            display: inline-block;
        }
    }
    .form-wrap {
        margin-top: $gap;
        input {
            margin-bottom: $gap;
        }
    }
    .remember-me-wrap {
        margin-top: $gap;
        label {
            margin-bottom: 0;
        }
    }
    .login-button {
        display: block;
        width: 100%;
        color: $light-font-color;
        background-color: $base-brand-color;
    }
}
